<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand ml-4 pl-5" href="/"><img src="/assets/images/logo.png" class="img-fluid logo" alt="Logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{path('category_index')}}">Catégories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('program_index')}}">Series</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mes favoris</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Connexion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>